@tailwind base;
@tailwind components;
@tailwind utilities;

.home-color {
  background: #151616;
}
.content-bg-color {
  background: #171b1a;
}

.progress-bar-custom-widthMax {
  width: 830px;
}

.nav-item {
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
}

.nav-item.active {
  text-decoration: underline;
  color: yellow;
}

.hex {
  width: 70px;
  height: 250px;
  background: #000000;
}

.triangle {
  width: 0;
  height: 0;
  position: relative;
  top: -76px;
  left: 62px;
  border-left: 10px solid transparent; /* Adjust the width of the left border */
  border-right: 65px solid transparent; /* Adjust the width of the right border */
  border-top: 100px solid #171b1a; /* Adjust the height and color of the triangle */
  position: relative;
}
